{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Ретро магазин
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="header-title">
            Магазин винтажных вещей
        </div>
        
        <div class="cart">
            <img src="{% static 'shopping-cart.png' %}">
            <div class="offers-counter">

            </div>
        </div>
    </header>
    <div class="main-content">
        <img class="main-content-background" src="{% static 'background-body.jpg' %}">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>