html {
    height: 100%;
}
body {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
}
header {
    background: #3d2d0a;
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.header-title {
    font-size: 21px;
}
.cart {
    position: absolute;
    right: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.main-content {
    height: calc(100% - 80px);
    position: relative;
}
.main-content-background {
    width: 100%;
    min-height: calc(100% - 3px);
    position: absolute;
}
.offers-wrapper {
    position: relative;
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}
.offer-wrapper {
    margin: 10px;
    cursor: pointer;
}
.offer-wrapper:hover img {
    box-shadow: 0 0 20px rgba(0,0,0);
    transition: box-shadow .3s;
}
.offer-img img {
    width: 200px;
    min-height: 100%;
    border: 5px solid white;
    border-radius: 5px;
}
.offers-counter {
    margin-right: 5px;
}