html {
    height: 100%;
}
body {
    height: 100%;
    font-family: sans-serif;
    margin: 0;
}
header {
    background: #3d2d0a;
    color: #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.header-title {
    font-size: 21px;
}
.cart {
    position: absolute;
    right: 30px;
    cursor: pointer;
}
.main-content {
    height: calc(100% - 80px);
    position: relative;
}
.main-content-background {
    width: 100%;
    min-height: calc(100% - 3px);
    position: absolute;
}
.offers-wrapper {
    position: relative;
    color: #cccccc;
}